*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url(/fonts/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Tangerine';
  src: local('Tangerine'), url(/fonts/Tangerine-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Berkshire Swash';
  src: local('Berkshire Swash'), url(/fonts/BerkshireSwash-Regular.ttf) format('truetype');
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  background: url('/images/background.webp') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(1px);

  ::selection {
    background-color: #353b48;
    color: #fff;
  }
}

.logo {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}
