.table {
  margin-top: 1.5rem;
  max-height: 100vh;
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  * {
    font-family: 'Open Sans', serif;
    font-size: 13px;
    font-weight: normal;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    background-color: #2c3e50;
    color: #f5f5f5;

    ::selection {
      background-color: #fff;
      color: #2c3e50;
    }
  }

  tbody {
    display: block;
    height: calc(100vh - 18rem);
    overflow-x: hidden;
    overflow-y: auto;
    color: #353b48;

    ::selection {
      background-color: #353b48;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #f5f5f5;
    }

    tr:nth-child(odd) {
      background-color: #fff;
    }

    tr {
      transition: 0.25s;
    }
  }

  th,
  td {
    padding: 0.75rem 0 0.75rem 1rem;
    text-align: left;
  }
}
