.heading {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: #2d3436;
  line-height: 1;

  &::selection {
    background-color: #3c1053;
    color: #f5f5f5;
  }
}